.img-perfil-verde {
    border: 2px solid #00bf63;
}

.franja-verde {
    background-color: #00bf63;
}

.mini-franja-verde {
    background-color: #00bf63;
}

.info-titulo-verde {
    color: #00bf63;
}

.franja-verde-mini {
    background-color: #00bf63;
}

.contact-btn-verde {
    background-color: #00bf63;
}

.carrusel-imagen-verde {
    border: 5px solid #00bf63;
}