.img-perfil-amarilla {
    border: 2px solid #f9c80e;
}

.franja-amarilla {
    background-color: #f9c80e;
}

.mini-franja-amarilla {
    background-color: #f9c80e;
}

.info-titulo-amarilla {
    color: #f9c80e;
}

.franja-amarilla-mini {
    background-color: #f9c80e;
}

.contact-btn-amarilla {
    background-color: #f9c80e;
}

.carrusel-imagen-amarilla {
    border: 5px solid #f9c80e;
}