.img-perfil-roja {
  border: 2px solid #b21515;
}

.franja-roja {
  background-color: #b21515;
}

.mini-franja-roja {
  background-color: #b21515;
}

.info-titulo-roja {
  color: #b21515;
}

.franja-roja-mini {
  background-color: #b21515;
}

.contact-btn-roja {
  background-color: #b21515;
}

.carrusel-imagen-roja {
  border: 5px solid #b21515;
}

.franja-negra {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  max-width: 50%;
  margin: auto auto 15px;
}