h2{
    font-weight: 700;
}

/* input{
    margin: 2px 0 2px 0;
} */
/* 
label.error{
    /* background-color: bisque; */
/* } */ 

.card{
    background-color: #e8bbbb;
    /* border:2px dashed #2a1010; */
    border-radius: 8px;
}

.login{
    
    border: 2px dotted black;
}
/* .contenedor-principal{
    display: grid;
    justify-items: center;
    background-color: blueviolet;
} */

/* .contenedor-formulario{
    width: 30%;
    border: 3px dotted green;
    display: grid;
    justify-content: center;
    justify-items: center;
} */