h2{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
}
.container-sm {
    display: grid;
    gap: 5px;
    justify-items: end;
    grid-template: 1fr/repeat(4, 1fr);
    position: relative;
    top: 10vh;
}

.registro {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template: repeat(6, 1fr)/repeat(2, 1fr);
    grid-template-areas:
        "nombre apellido"
        "telefono localidad"
        "mail mail"
        "password password"
        "Rpassword Rpassword"
        "singInButtom singInButtom";
    justify-items: center;
    gap: 3px;
}

.registro>input {
    width: 100%;
}

/* Estoy probando modificar el estilo del logo */
.bi-house{
    width: 1.4em;
    background: radial-gradient( #bb57cf, #303192 );
    
}

.nav-bar{
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 15px; */
}

li{
    list-style:none;
}
#nombre {
    grid-area: nombre;
}

#apellido {
    grid-area: apellido;
}

#telefono {
    grid-area: telefono;
}

#localidad {
    grid-area: localidad;
}

#mail {
    grid-area: mail;
}

#password {
    grid-area: password;
}

#repeatPassword {
    grid-area: Rpassword;
}

#sign-in {
    grid-area: singInButtom;
    width: 40%;
    /* font-size: 1em; */
}

@media(max-width:670px) {
    .registro {
        grid-area: 1 / 2 / 2 / 4;
        display: grid;
        justify-items: stretch;
        justify-items: center;
        gap: 3px;
        grid-template: repeat(8, 1fr)/ 1fr;
        grid-template-areas:
            "nombre"
            "apellido"
            "telefono"
            "localidad"
            "mail"
            "password"
            "Rpassword"
            "singInButtom";
    }
}
